<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debt Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/scripts.js') }}"></script>
</head>

<body>
<div class="container">
    <div class="button-container">
        <button onclick="openTab('home')">Home</button>
        <button onclick="openTab('payments')">Payments</button>
        <button onclick="openTab('profile')">Profile</button>
    </div>
    <div id="home" class="tab">
        <div class="container">
            <div class="tabs">
                <div class="tab active">DEBTS</div>
                <div class="tab">OWED</div>
            </div>
            <div class="profile">
                <img src="static/images/profile.jpg" alt="User profile">
                <h3>{{us_name}}</h3>
            </div>
            <!-- Неоплаченные долги -->
            {% for user in unpaid_users %}
            <div class="debt-item">
                <div>{{ user[0] }} doesnt owe {{user[1]}} rub to you</div>
                <button class="unpaid">Unpaid</button>
            </div>
            {% endfor %}
            <!-- Оплаченные долги -->
            {% for user in paid_users %}
            <div class="debt-item">
                <div>{{user[0]}} owe {{ user[1] }} rub to you</div>
                <button class="paid">Paid</button>
            </div>
            {% endfor %}

            <div class="add-debt">
                <button onclick="redirectToNewDebtPage()">
                    Add new debt
                </button>
            </div>
        </div>
    </div>
    <div id="profile" class="tab" hidden>
        <div class="container">
            <div class="profile-circle"></div>
            <h1>{{us_name}}</h1>
            <button>USDT adr: {{wallet}}</button>
        </div>
    </div>
</div>
</body>
</html>